.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card{
    width: 18rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0 ,0.75);
    transition: 0.5s;
    background-color: rgba(28, 28, 28, 0.7);
    color: aliceblue; 
    display: grid;  
    height: 100vh;
}


.card button.close{
    margin: 5px;
    background-color: #1C1C1C;
    color: white;
    border: none;
    padding: 8px;
    justify-self: end;
    border-radius: 5px;
}

.card button.close:hover{
    background-color: #1C1C1C;
    color: #FF0000;
    border: none;
    justify-self: end;
}

.card img{
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    max-height: fit-content;
}

.card h2.name {
    text-align: center;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    width: -webkit-fill-available;
    font-size: 1rem;
}

.card p{
    margin: 30px;
    font-size: 1rem;
}
