body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5rem;
}

.center{
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left{
  position: absolute;
  top: 50%;
  left: 0%;
}
.right{
  position: absolute;
  top: 50%;
  right: 0%;
}